
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 18px;
}

body {
    display: block;
    margin: 8px;
}

.top {
    width: 100%;
    top: 0;
}

.wrapper {
    width: 1000px;
    margin: auto;
}

.header {
    height: 62px;
}

.header_left {
    padding: 11px 0;
    padding: 1px 0;
}

.header_left {
    float: left;
}

.logo {
    float: left;
    padding: 0px 16px 5px 10px;
    border-right: 1px solid #e0e0e0;
}

a {
    outline: 0;
    color: #0033cc;
    text-decoration: none;
    -moz-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

    a img {
        border: none;
    }

.slogan {
    float: left;
    padding: 15px 0 5px 16px;
    line-height: 15px;
    color: #969696;
    text-align: justify;
}

.header .phone {
    float: right;
    height: 28px;
    background: url(/Content/guest/images/icon_phone.jpg) 0 0 no-repeat;
    margin-top: 17px;
    padding: 0 10px 0 40px;
    text-align: center;
}

.phone p {
    margin: 0;
    padding: 0;
    color: #999;
    line-height: 14px;
    font-size: 11px;
}

.clear {
    margin: 0 !important;
    padding: 0 !important;
    clear: both;
    border: none !important;
    float: none!important;
}

.search {
    background: url(/Content/guest/images/search_bg.png) right bottom no-repeat;
    padding-right: 10px;
}

.search_left {
    height: 40px;
    background: url(/Content/guest/images/search_bg.png) left top no-repeat;
    padding-left: 20px;
}

.search_content {
    height: 32px;
    padding-top: 8px;
    background: url(/Content/guest/images/search_bg.png) center center repeat-x;
}

form, input, select {
    margin: 0;
    padding: 0;
}

.search_content_left select {
    height: 24px;
    border: 1px solid #777777;
    margin-right: 10px;
    float: left;
    color: #707070;
}

input, button, textarea, select {
    font-size: 100%;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.sBut_timPhong {
    float: left;
    width: 106px;
    height: 24px;
    border: none;
    background: url(/Content/guest/images/sbut_timPhong.png) 0 0 no-repeat;
    cursor: pointer;
}

.search_content_right {
    float: right;
    line-height: 24px;
}

.pathway {
    color: #999;
    font-size: 11px;
    line-height: 16px;
}

.pathway_item {
    float: left;
    padding: 5px 0;
    margin-right: 10px;
}

.pathway p, .hotel_item_info p, .hotel_item_price p, .hotel_info p, .hotel_mark p {
    margin: 0;
    padding: 0;
}

.pathway p {
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
}

.pathway a {
    padding-right: 15px;
    background: url(/Content/guest/images/pathway_arrow.gif) right 6px no-repeat transparent;
    display: block;
    line-height: 16px;
}

.footer_general {
    z-index: 999;
    position: relative;
}

.bottom_buts {
    text-align: center;
    margin-bottom: 10px;
}

    .bottom_buts .thanhToan {
        background-position: left 0px;
    }

    .bottom_buts a {
        display: inline-block;
        zoom: 1;
        background: url(/Content/guest/images/but_bottom.png) left top no-repeat transparent;
        width: 180px;
        height: 30px;
        margin: 0 5px;
    }

    .bottom_buts .doiTacKhachSan {
        background-position: left -30px;
    }

    .bottom_buts .doiTacPhanPhoi {
        background-position: left -60px;
    }

    .bottom_buts .phucVuKhachHang {
        background-position: left -90px;
    }

.bottom_nav {
    background: #e8e8e8;
    height: 24px !important;
    text-align: center;
    margin-bottom: 10px !important;
    position: inherit;
}

    .bottom_nav a {
        padding: 0 25px 0 39px !important;
        background: url(/Content/guest/images/bullet_bottom.gif) 25px center no-repeat transparent;
        line-height: 24px !important;
        font-size: 11px;
        z-index: 9999999 !important;
        position: relative;
    }

.accept_cards {
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    margin-bottom: 15px;
}

    .footer p {
        margin: 0;
        padding: 0;
        color: #808080;
        line-height: 16px;
        font-size: 11px;
        text-align: center;
    }

.main_content {
    padding-bottom: 10px;
    width: 1000px;
    overflow: hidden;
}

.alert {
    font-size: 20px;
    padding: 10px 0 10px;
}

ul.bot_nav, .list_hotel ul, .list_hotel_2 ul, .list_deal_hotel2 ul, .list_room ul, ul.left_list, ul.leftP_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .list_hotel ul li {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #afafaf;
    }

.hotel_item_img img {
    width: 210px;
    height: 140px;
    margin-right: 10px;
    float: left;
}

.hotel_item_info {
    float: left;
    width: 550px;
    padding-right: 10px;
    text-align: justify;
}

    .hotel_item_info p {
        text-align: justify;
        margin-bottom: 5px;
    }

.hotel_name {
    font-size: 16px;
    _font-size: 16px;
    font-weight: bold;
    _font-weight: bold;
    padding-bottom: 2px!important;
}

.searchHotelpromotion {
    float: right;
}

.hotel_address {
    font-size: 10px;
    color: #666666;
    padding-bottom: 2px!important;
}

.hotel_item_info p {
    text-align: justify;
}

.viewMore {
    text-align: right;
    height: 18px;
}

.hotel_item_price {
    float: left;
    margin-top: 10px;
    width: 186px;
    border: 1px solid #dcdcdc;
    background: #f5f5f5;
    padding: 6px;
    text-align: center;
    color: #808080;
}

    .hotel_item_price span {
        color: #037703;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
    }

.but_chiTiet {
    background: url(/Content/guest/images/but_chiTiet.png) 0 0 no-repeat transparent;
    width: 82px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    margin: 8px 0;
}

.hotel_item_price .ensure {
    color: #bb1133;
    font-size: 11px;
    background: url(/Content/guest/images/icon_ensure.png) left center no-repeat;
    padding-left: 18px;
    font-weight: normal;
    cursor: pointer;
}

.hotel_detail {
    padding-bottom: 15px;
}

.hotel_img {
    float: left;
    padding-right: 15px;
}

    .hotel_img img {
        width: 270px;
        height: 180px;
    }

.hotel_detail_right {
    float: right;
    width: 715px;
}

.hotel_detail_right_top .hotel_info {
    float: left;
    width: 600px;
}

.hotel_info {
    height: 87px;
}

    .hotel_info .hotel_name {
        color: #037703;
        font-size: 18px;
        font-weight: bold;
    }

    .hotel_info .hotel_address {
        font-size: 11px;
        line-height: 16px;
    }

.hotel_address {
    font-size: 10px;
    color: #666666;
    padding-bottom: 2px!important;
}

.hotel_info .hotel_position {
    line-height: 18px;
}

.hotel_mark {
    float: right;
    background: url(/Content/guest/images/hotel_mark_bg.png) right top no-repeat transparent;
    height: 76px;
    padding-right: 8px;
    text-align: center;
}

    .hotel_mark span {
        background: url(/Content/guest/images/hotel_mark_bg.png) left top no-repeat transparent;
        height: 60px;
        display: block;
        padding: 8px 0 8px 8px;
        font-size: 11px;
        color: #037703;
    }

    .hotel_mark p {
        margin: 0;
        padding: 0;
    }

    .hotel_mark label {
        color: #ff6600;
        font-weight: bold;
        font-size: 28px;
    }

.hotel_images {
    width: 715px;
    height: 93px;
    overflow: hidden;
}

.hotel_images_content {
    width: 720px;
}

.hotel_images a {
    display: block;
    width: 67px;
    height: 44px;
    float: left;
    margin: 0 5px 5px 0;
}

    .hotel_images a img {
        width: 67px;
        height: 44px;
    }

.hotel_tabs {
    width: 1000px;
    overflow: hidden;
    padding-bottom: 20px;
}

ul.tabs {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    border-bottom: 1px solid #c8d4e4;
    height: 36px;
    width: 10002px;
}

    ul.tabs li {
        float: left;
        text-indent: 0;
        padding: 0;
        margin: 0 !important;
        list-style-image: none !important;
    }

        ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
            background: #fff;
            cursor: default !important;
            color: #000 !important;
            height: 35px;
            border-bottom: none;
            text-decoration: none;
            cursor: pointer;
        }

    ul.tabs a {
        display: inline-block;
        zoom: 1;
        line-height: 32px;
        text-align: center;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: 1px;
        margin-right: 2px;
        border: 1px solid #c8d4e4;
        cursor: pointer;
    }

.panes div {
    display: none;
    padding: 12px 15px;
    border: 1px solid #c8d4e4;
    border-top: 0;
    background-color: #fff;
    text-align: justify;
}

.list_room {
    padding-bottom: 20px;
}

    .list_room label {
        font-weight: bold;
        color: #000;
        line-height: 32px;
        font-size: 14px;
    }

.label {
    border: 1px solid #c8d4e4;
    border-top: none;
    height: 32px;
    background: #f0f0f0;
    font-weight: bold;
    line-height: 32px;
    overflow: hidden;
}

    .label span {
        display: block;
        float: left;
        text-align: center;
    }

.list_room ul {
    border-left: 1px solid #c8d4e4;
}

    .list_room ul li {
        height: 150px;
        border-bottom: 1px solid #c8d4e4;
        overflow: hidden;
    }

        .list_room ul li div {
            float: left;
            border-right: 1px solid #c8d4e4;
            height: 150px;
            overflow: hidden;
            text-align: center;
        }

.room_info {
    width: 556px;
}

    .room_info .room_img {
        width: 185px;
    }

    .room_info div {
        border: none !important;
    }

    .room_info .room_img a {
        font-size: 10px;
    }

    .room_info .room_img img {
        margin: 10px 10px 8px;
        width: 165px;
        height: 110px;
    }

.room_info_content {
    text-align: left !important;
    padding: 10px 0 0 0;
    color: #808080;
    font-size: 11px;
}

    .room_info_content p {
        margin: 0;
        padding: 0 0 3px 0;
        width: 335px;
    }

.room_name a {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

    .room_name a span {
        font-size: 11px;
        font-weight: normal;
        font-style: italic;
    }

.max_people {
    display: inline-block;
    zoom: 1;
    background: url(/Content/guest/images/icon_people.png) 0 0 repeat-x transparent;
    height: 15px;
    width: 10px;
}

.include_breakfast {
    font-size: 12px;
    font-weight: bold;
    color: #037703;
}

.room_info_content .cancelCondition {
    display: block;
    padding-top: 26px;
    font-size: 10px;
    cursor: pointer;
}

.room_price {
    width: 250px;
    padding-top: 50px;
}

    .room_price .special_price {
        font-size: 18px;
        font-weight: bold;
        color: #037703;
    }

    .room_price p {
        margin: 0;
        padding: 0 0 3px;
        color: #808080;
    }

    .room_price a {
        font-size: 10px;
        margin-top: 32px;
        display: block;
    }

.room_booking {
    width: 190px;
}

    .room_booking p {
        font-size: 11px;
        font-weight: bold;
        color: #037703;
        margin: 0;
        padding: 50px 0 8px 0;
    }

    .room_booking .but_datPhong {
        background: url(/Content/guest/images/but_datPhong.png) 0 0 no-repeat transparent;
        width: 100px;
        height: 24px;
        cursor: pointer;
        border: none;
    }

.barViewMore {
    height: 32px;
    background: #efefef;
    line-height: 32px;
}

.barViewMore_right {
    float: right;
    padding-right: 0px;
}

.barViewMore .ensure {
    color: #bb1133;
    font-size: 11px;
    background: url(/Content/guest/images/icon_ensure.png) left center no-repeat;
    padding-left: 18px;
    font-weight: normal;
}

.container {
    padding-bottom: 20px;
}

.container_title {
    font-weight: bold;
    color: #000;
    line-height: 32px;
    font-size: 14px;
    border-bottom: 1px solid #C8D4E4;
    height: 32px;
}

    .container_title label {
        float: left;
    }

.container_content {
    padding-top: 10px;
    width: 1000px;
    overflow: hidden;
}

.moreImage_content {
    width: 1012px;
}

.moreImage_item {
    width: 241px;
    padding-right: 12px;
    float: left;
    height: 180px;
    padding-bottom: 8px;
}

    .moreImage_item span {
        display: block;
        width: 241px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        text-align: center;
        font-weight: bold;
    }

.hotel_feature_group {
    width: 1010px;
    padding: 10px 0 5px 0;
    _padding-bottom: 0px;
    border-bottom: 1px dashed #e0e0e0;
    line-height: 18px;
}

.hotel_feature_group_title {
    float: left;
    width: 160px;
    font-weight: bold;
    color: #000;
}

.hotel_feature_group_content {
    float: right;
    width: 840px;
}

.hotel_feature_item.yes {
    background: url(../images/bullet_hotelFeature.png) 0 -39px no-repeat transparent;
    color: #000;
}

.hotel_feature_item {
    width: 254px;
    padding: 0 10px 8px 16px;
    float: left;
    color: #666;
    background: url(/Content/guest/images/bullet_hotelFeature.png) 0 -5px no-repeat transparent;
}

.comment_item {
    padding: 10px 0;
    border-bottom: 1px dashed #E0E0E0;
}

.comment_info {
    padding-bottom: 8px;
}

.comment_info {
    float: left;
    width: 900px;
}

    .comment_info .comment_title {
        font-weight: bold;
        color: #037703;
        padding-bottom: 3px;
        font-size: 12px;
    }

    .comment_info p {
        margin: 0;
        padding: 0;
        color: #808080;
        font-size: 11px;
    }

.comment_mark {
    float: right;
    background: url(/Content/guest/images/comment_mark_bg.png) right top transparent;
    height: 40px;
    padding-right: 7px;
}

    .comment_mark span {
        display: inline-block;
        zoom: 1;
        background: url(/Content/guest/images/comment_mark_bg.png) left top transparent;
        height: 40px;
        padding-left: 7px;
        font-weight: bold;
        color: #ff6600;
        line-height: 40px;
        font-weight: bold;
        font-size: 14px;
    }

.comment_content {
    text-align: justify;
}

.scrollToTop {
    height: 18px;
    text-align: center;
    margin-top: -10px;
}

    .scrollToTop a {
        display: inline-block;
        zoom: 1;
        width: 102px;
        height: 18px;
        background: url(/Content/guest/images/but_scrollToTop.png) 0 0 no-repeat transparent;
    }

/*Slideshow*/
#slideshow {
    position: relative;
    /*height: 300px;*/
}

    #slideshow IMG {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        opacity: 0.0;
    }

        #slideshow IMG.active {
            z-index: 10;
            opacity: 1.0;
        }

        #slideshow IMG.last-active {
            z-index: 9;
        }

/*Login*/
.loginIntroAdmin {
    border: 1px solid #D99900;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 15px 15px;
    text-align: justify;
    width: 60%;
    float: left;
}

.loginIntroAdmin {
    text-align: justify;
}

.formLoginRegister {
    border-radius: 0px 0px 0px 0px;
    text-align: justify;
    float: right;
    width: 36%;
    padding-left: 5px;
}

.formRegister {
    border: 1px solid #D99900;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 10px 10px 10px;
    text-align: justify;
}

.formLog {
    border: 1px solid #D99900;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 10px 10px 10px;
    text-align: justify;
}

.logIn label {
    color: #ff7700;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 25px;
    background: url(/Content/guest/images/bullet_signIn_logIn.jpg) left -27px no-repeat transparent;
    padding-bottom: 5px;
    display: block;
}

.signInInfo, .signIn_info, .logIn_info {
    text-align: justify;
}

.form_dangKy {
    padding-top: 10px;
}

    .form_dangKy span {
        width: 118px;
        float: left;
        text-align: right;
        font-weight: bold;
        padding-right: 0px;
        line-height: 18px;
        margin-bottom: 5px;
    }

.dv_username {
    background-color: transparent;
    background-image: url("/Content/guest/images/user.jpg");
    background-position: left 0;
    background-repeat: no-repeat;
}

.TI_username, .TI_pass {
    color: #999999;
}

.TI_username {
    font-size: 11px;
    height: 16px;
    line-height: 20px;
    text-align: left;
    width: 143px;
    float: left;
    border-color: #FEFEFE;
}

.logIn {
    float: left;
    width: 464px;
}

.dv_pass {
    background-color: transparent;
    background-image: url("/Content/guest/images/pass.jpg");
    background-position: left 0;
    background-repeat: no-repeat;
}

.TI_pass {
    font-size: 11px;
    height: 16px;
    line-height: 20px;
    text-align: left;
    width: 143px;
    border-color: #FEFEFE;
    float: left;
}

.form_dangKy .form_but_login {
    text-align: center;
    padding: 5px 5px 5px 20px;
}

    .form_dangKy .form_but_login .but_dangNhap {
        width: 102px;
        height: 24px;
        background: url(/Content/guest/images/but_dangNhap.png) 0 0 no-repeat transparent;
        border: none;
        cursor: pointer;
    }

.signIn {
    float: left;
    width: 464px;
    margin-right: 20px;
}

    .signIn label {
        color: #037703;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        padding-left: 25px;
        background: url(/Content/guest/images/bullet_signIn_logIn.jpg) left 2px no-repeat transparent;
        padding-bottom: 5px;
        display: block;
    }

.signInBut {
    text-align: center;
    padding: 10px 0 0;
}

    .signInBut a {
        display: inline-block;
        zoom: 1;
        background: url(/Content/guest/images/but_dangKy.png) 0 0 no-repeat transparent;
        width: 235px;
        height: 34px;
    }

/*register*/
.signInInfo.rounded, .signIn.rounded, .logIn.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #d99900;
    padding: 10px 12px 15px;
}

.signin_register {
    width: 100%;
}

    .signin_register label {
        color: #037703;
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        padding-bottom: 5px;
        padding-left: 25px;
    }

    .signin_register fieldset {
        margin-bottom: 15px;
        padding: 10px;
        border: none;
    }

        .signin_register fieldset legend {
            color: #037703;
            font-weight: bold;
            padding: 0 10px;
        }

table.signin_register {
    color: #666666;
    margin-top: 5px;
    width: 100%;
}

.signin_register tbody tr {
    background-color: #FFFFFF;
    text-align: left;
}

.signin_register td.key {
    width: 110px;
}

.signin_register td, table.signin_register th {
    padding: 4px;
}

    .signin_register td input {
        border: 1px solid #DD9900 dotted;
        width: 200px;
    }

.lForm_but2 {
    background-color: transparent;
    background-image: url("/Content/guest/images/hot.jpg");
    background-position: left 0;
    background-repeat: no-repeat;
    border: medium none;
    color: #99370B;
    cursor: pointer;
    display: inline;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    padding-bottom: 2px;
    text-align: center;
    width: 114px;
}

.signIn_info_h2 {
    color: #037703;
    font-size: 14px;
}

.signIn_info_answer {
    margin-left: 30px;
    color: #666666;
}

.alert1 {
    font-size: 18px;
    padding-bottom: 10px;
}

.booking_roomItem {
    width: 1000px;
    overflow: hidden;
    padding: 5px 0 5px;
}

    .booking_roomItem label {
        font-size: 15px;
        font-weight: bold;
        color: #037703;
        padding-left: 23px;
        background: url(/Content/guest/images/bullet_booking_roomItem.jpg) left top no-repeat;
        display: block;
        padding-bottom: 8px;
    }

        .booking_roomItem label span {
            font-size: 12px;
            font-weight: normal;
        }

.booking_roomItem_content {
    width: 1060px;
    padding-bottom: 9px;
}

    .booking_roomItem_content span {
        display: block;
        font-weight: bold;
        padding-bottom: 5px;
        color: #666;
        width: 180px;
    }

.booking_roomItem_content1, .booking_roomItem_content1 select {
    width: 65px;
}

.booking_roomItem_content select, .booking_roomItem_content input {
    border: 1px solid #C8D4E4;
    padding: 1px;
    width: 147px;
}

.booking_roomItem_content2, .booking_roomItem_content3 {
    width: 155px;
    overflow: hidden;
}

.booking_roomItem_content div {
    float: left;
    padding-right: 50px;
}

.bookingDetail_table {
    border: 1px solid #C8D4E4;
    background: url(/Content/guest/images/lightBlue_dot.png) 507px top repeat-y transparent;
}

.bookingDetail_table_title {
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    background: url(/Content/guest/images/lightBlueBar_bg.png) left center repeat-x transparent;
    border-bottom: 1px solid #C8D4E4;
}

.bookingDetail_table_title_left {
    padding: 0 10px;
    width: 494px;
    width: 487px;
    border-right: 1px solid #C8D4E4;
    float: left;
}

.bookingDetail_table_title_right {
    padding: 0 10px;
    width: 463px;
    float: right;
}

.bookingDetail_table_content_left {
    padding: 10px;
    width: 494px;
    overflow: hidden;
    color: #c00000;
    float: left;
}

.bookingDetail_contactInfo {
    width: 501px;
}

    .bookingDetail_contactInfo .row1 {
        width: 494px;
    }

    .bookingDetail_contactInfo .row1, .bookingDetail_contactInfo .row2 {
        float: left;
        padding-bottom: 10px;
    }

    .bookingDetail_contactInfo span {
        display: block;
        font-weight: bold;
        padding-bottom: 3px;
        color: #666;
    }

    .bookingDetail_contactInfo .row1 input {
        width: 308px;
    }

    .bookingDetail_contactInfo .row2 {
        width: 160px;
        padding-right: 7px;
    }

        .bookingDetail_contactInfo .row2 input {
            width: 140px;
        }

    .bookingDetail_contactInfo .row1 textarea {
        width: 475px;
        height: 110px;
    }

.required {
    font-size: 10px!important;
    color: #ff0000!important;
    display: block;
    font-weight: normal!important;
}

.bookingDetail_table_content_right {
    padding: 10px;
    width: 464px;
    float: right;
}

.bookingDetail_content label {
    font-weight: bold;
    color: #037703;
}

.bookingDetail_content ul.rooms {
    margin: 0;
    padding: 5px 0 0;
    list-style: decimal inside;
    line-height: 16px;
}

    .bookingDetail_content ul.rooms li, .bookingDetail_content ul.price li {
        padding-bottom: 5px;
    }

        .bookingDetail_content ul.rooms li ul, .bookingDetail_content ul.price {
            margin: 0;
            padding: 0 0 0 20px;
            list-style: none;
            color: #666;
        }

            .bookingDetail_content ul.rooms li ul li {
                padding-bottom: 0px;
            }

                .bookingDetail_content ul.rooms li ul li span, .bookingDetail_content ul.price li span {
                    float: left;
                    color: #666;
                }

                .bookingDetail_content ul.rooms li ul li b, .bookingDetail_content ul.price li b {
                    float: right;
                }

.total_price {
    color: #037703;
}

.but_tiepTucThanhToan_container {
    text-align: center;
    padding: 10px 0;
}

.but_QuayLai {
    width: 170px;
    height: 39px;
    background: url(/Content/guest/images/booking1.jpg) 0 0 no-repeat transparent;
    border: none;
    cursor: pointer;
}

.but_tiepTucThanhToan {
    width: 181px;
    height: 39px;
    background: url(/Content/guest/images/but_tiepTucThanhToan.jpg) 0 0 no-repeat transparent;
    border: none;
    cursor: pointer;
}

.ui-datepicker-trigger {
    margin-left: 4px;
}

.validate span,
.validation-summary-errors {
    width: auto;
    color: red;
    margin-left: 50px;
}

/*Dropdown menu*/


.search_content_right div {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}

    .search_content_right div li {
        margin: 0 5px;
        padding: 0 0 8px;
        float: left;
        position: relative;
        list-style: none;
    }

.search_content_right ul li span {
    color: blue;
}

.search_content_right a,
.search_content_right a:link {
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px 20px;
    margin: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

    .search_content_right a:hover {
        color: #0033cc;
    }

.search_content_right .active a,
.search_content_right div:hover > a {
    color: #0033cc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.search_content_right ul li:hover a,
.search_content_right li:hover li a {
    background: none;
    border: none;
    color: #0033cc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.search_content_right div ul a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.search_content_right div:hover > ul {
    display: block;
}

.search_content_right div ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    left: 0;
    background: url(/Content/guest/images/overlay.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

    .search_content_right div ul li {
        float: none;
        margin: 0;
        padding: 3px;
    }

    .search_content_right div ul a,
    .search_content_right div ul a:link {
        font-weight: normal;
        font-size: 12px;
    }

.search_content_right ul:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

* html .search_content_right ul {
    height: 1%;
}

/*cập nhật thông tin người dùng*/
.alert1 {
    font-size: 18px;
    padding-bottom: 10px;
}

.register fieldset {
    margin-bottom: 5px;
    border: none;
}

.register legend {
    color: #0033CC;
    font-weight: bold;
    font-size: 15px;
}

.register ul {
    list-style: none;
}

.register li {
    width: 100%;
    padding-bottom: 5px;
    text-align: right;
}

.butParnertuser {
    background: url(/Content/guest/images/bt_saveinfomation.jpg);
    display: block;
    height: 25px;
    border: 0PX;
    width: 115px;
}

.register label {
    float: left;
    height: 100%;
    text-align: left;
    line-height: 18px;
    padding-right: 10px;
    color: #666666;
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
}

.register fieldset input {
    width: 225px;
    border: 1px solid #C8D4E4;
}

/*danh sách đặt phòng*/
table.customerInfo_table {
    background-color: #E8E8E8;
    border-spacing: 1px;
    color: #666666;
    margin-top: 5px;
    width: 100%;
}

    table.customerInfo_table thead tr {
        background: url("/Content/guest/images/search_bg.png") repeat scroll left top transparent;
        background-position: 20px -40px;
        font-size: 12px;
    }

    table.customerInfo_table thead th {
        height: 35px;
        color: #FFF;
        text-align: center;
    }

    table.customerInfo_table td, table.customerInfo_table th {
        padding: 4px;
    }

.sBut_timVịTriKhachSan {
    float: left;
    width: 114px;
    height: 24px;
    border: none;
    background: url(/Content/guest/images/hot.jpg) 0 0 no-repeat;
    cursor: pointer;
    color: #99370B;
    font-weight: bold;
    font-size: 11px;
}

.field-validation-error {
    color:red;
    width:100% !important;
    margin: 5px;
    text-align:left !important;
    font-weight:normal;
}