@{
    ViewBag.Title = "501 Not Implemented";
    Layout = "~/Views/Shared/Error.cshtml";
}

<div id="header">
    <h1>Page Gone To Heaven And Doesn't Want To Come Back<span>501 Not Implemented</span></h1>
</div>