@{
    ViewBag.Title = "503 Service Unavailable";
    Layout = "~/Views/Shared/Error.cshtml";
}

<div id="header">
    <h1>Page Gone To Heaven And Doesn't Want To Come Back<span>503 Service Unavailable</span></h1>
</div>