@{
    ViewBag.Title = "Chức năng đang xây dựng";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

    <div class="main_content">
        <div class="clear"></div>
        <div class="right_master">
            <div class="alert" style="text-align: center; color: red">
                Chức năng đang xây dựng. Vui lòng quay lại sau<br />
                <span style="font-size: 14px; color: black">Nhấn @Html.ActionLink("vào đây", "index", "home") để quay lại trang chủ.</span>
            </div>

        </div>
    </div>