@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

<div class="main_content">
    <div class="clear"></div>
    <div class="right_master">
        <div class="alert" style="text-align: center; color: red">
            Đăng kí tài khoản thành công<br />
            <span style="font-size: 14px; color: black">Nhấn @Html.ActionLink("vào đây", "index", "home") để quay lại trang chủ.</span>
        </div>

    </div>
</div>
