.panel-overlay h2
{
    color: #17C1F3;
    margin: 0;
    padding: 4px 0 2px 0;
    font-size: 16px;
}
.panel-overlay h2 a
{
    color: #17C1F3 !important;
    text-decoration: none !important;
}
.panel-overlay p
{
    margin: 0;
    padding: 0;
    line-height: 16px;
    color: #CFCFCF;
}
.filmstrip
{
    left: 9px !important;
}
.filmstrip li img
{
    width: 60px;
    height: 34px;
}
#pointer
{
    top: 297px !important;
}

.stepcarousel
{
    position: relative;
    overflow: hidden;
    width: 518px;
    height: 260px;
    margin: 0 auto 0 auto;
}
.stepcarousel .belt
{
    position: absolute;
    left: 0;
    top: 0;
}
.stepcarousel .panel
{
    float: left;
    overflow: hidden;
    width: 194px;
}
.movies
{
    width: 120px;
    float: left;
    padding: 0 5px;
}
.movies h2
{
    margin: 0;
    padding: 0 0 2px 0;
    font-size: 12px;
}
.movies h2 a
{
    color: #ffffff;
    text-decoration: none;
}
.movies h2 a:hover
{
    color: #17C1F3;
    text-decoration: none;
}
.movies img
{
    width: 108px;
    height: 162px;
}
