@{
    ViewBag.Title = "RedirectFromPaypal";
    Layout = "~/Views/Shared/LayoutTrangChu/_MasterpageGuest.cshtml";
}

<h2>Thanh toán thành công. Xin chờ trong giây lát</h2>
@using (Html.BeginForm("index", "home", FormMethod.Post, new { id = "doneThanhToan" }))
{

}

<script type="text/javascript" language="javascript">
    $(this.document).ready(function () {
        var form = $("#doneThanhToan");
        form.submit();
    });
</script>