/* Reset */
.urpReset, .urpReset div, .urpReset span, .urpReset applet, .urpReset object, .urpReset iframe, .urpReset h1, .urpReset h2, .urpReset h3, .urpReset h4, .urpReset h5, .urpReset h6, .urpReset p, .urpReset blockquote, .urpReset pre, .urpReset a, .urpReset abbr, .urpReset acronym, .urpReset address, .urpReset big, .urpReset cite, .urpReset code, .urpReset del, .urpReset dfn, .urpReset em, .urpReset font, .urpReset img, .urpReset ins, .urpReset kbd, .urpReset q, .urpReset s, .urpReset samp, .urpReset small, .urpReset strike, .urpReset strong, .urpReset sub, .urpReset sup, .urpReset tt, .urpReset var, .urpReset b, .urpReset u, .urpReset i, .urpReset center, .urpReset dl, .urpReset dt, .urpReset dd, .urpReset ol, .urpReset ul, .urpReset li, .urpReset fieldset, .urpReset form, .urpReset label, .urpReset legend, .urpReset table, .urpReset caption, .urpReset tbody, .urpReset tfoot, .urpReset t
, .urpReset tr, .urpReset th, .urpReset td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-align: left;
	font-family: Arial;
	font-size: 13px;
	line-height: 18px;
}

.urpReset div {
	position: static;
}

body.urpReset {
	overflow: hidden;
}

body.urpBackgroundFix {
	background: url("n.gif") no-repeat;
	background-attachment:fixed;
}

.urpReset iframe {
	display: block;
	position: static;
}

.urpReset ol, .urpReset ul {
	list-style: none;
}
/* remember to define focus styles! */
.urpReset :focus {
	outline: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
.urpReset table {
	border-collapse: collapse;
	border-spacing: 0;
}

.urpPopup {
	width: 596px;
	position: fixed;
	_position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -298px;
	z-index: 2147483647;
}

.urpPopup.urpSmallScreen {
	top: 0px;
}

.urpPopup .urpHeader {
	background: transparent url(bg.png) no-repeat left top;
	_background-image: url(bg.gif);
	overflow: hidden;
	_zoom: 1;
}

.urpPopup.urpSurveyPopup {
	width: 950px;
	margin-left: -475px;
}

.urpPopup.urpSurveyPopup .urpHeader {
	background-image: url(bg_wide.png);
	_background-image: url(bg_wide.gif);
}

.urpPopup .urpContent {
	margin: 20px 20px 0 26px;
	overflow: hidden;
	zoom: 1;
}

.urpPopup .urpFooter {
	background: transparent url(bg.png) no-repeat left bottom;
	_background-image: url(bg.gif);
	height: 26px;
}

.urpPopup.urpSurveyPopup .urpFooter {
	background-image: url(bg_wide.png);
	_background-image: url(bg_wide.gif);
}

.urpPopupContent .urpInvitationHeader {
	border-bottom: solid 2px #DFDFDF;
	height: 75px;
	position: relative;
}

.urpPopup .urpClose {
	display: block;
	position: absolute;
	right: 20px;
	top: 18px;
	width: 30px;
	height: 30px;
	background: url(close.gif) no-repeat left top;
}

/* Hack for quirks-mode in all IE. See http://www.brunildo.org/test/csshacksQ.html */
* html .urpPopup .urpClose {
	top: /**/ 0;
	right: /**/ 0;
}

.urpPopupContent .urpLogo {
	display: block;
	position: absolute;
	right: 0px;
	top: 22px;
	background: url(userreport_logo.gif) no-repeat scroll right center;
	width: 250px;
	height: 45px; /*border: solid 1px #000;*/
}

.urpPopupContent .urpInvitationHeader h1 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-top: 12px;
	margin-left: 15px;
}

.urpPopupContent .urpInvitationHeader .urpSiteName {
	color: #4BACE8;
	margin-left: 15px;
}
.urpPopupContent .urpInvitationContent {
	margin-top: 8px;
	background-image: url(gradient.gif);
	background-repeat: repeat-x;
	padding: 20px 15px 0 15px;
	overflow: hidden;
	zoom: 1;
	border-bottom: solid 2px #DFDFDF;
}

.urpPopupContent .urpInvitationContent .urpAttention, .urpPopupContent .urpInvitationContent .urpAttention label, .urpPopupContent .urpInvitationContent .urpAttention a {
	font-weight: bold;
}

.urpPopupContent .urpInvitationContent .urpAttention, .urpPopupContent .urpInvitationContent .urpAttention label {
	color: #000000;
}

.urpPopupContent .urpInvitationContent .urpAttention input {
	margin-right: 7px;
	vertical-align: bottom;
}


.urpPopupContent .urpInvitationContent p {
	color: #666666;
	margin-bottom: 20px;
}

.urpPopupContent .urpInvitationContent h2 {
	color: #4BACE8;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
}

.urpPopupContent .urpInvitationContent a {
	color: #4BACE8;
	text-decoration: uderline;
}

.urpPopupContent .urpInvitationContent a:hover {
	text-decoration: none;
}

.urpPopupContent .urpButtons {
	margin-top: 8px;
	background: url("buttons_panel_r.gif") no-repeat scroll right 0 transparent;
}

.urpPopupContent .urpButtons .urpButtonsContent {
	height: 27px;
	padding: 13px;
	background: url("buttons_panel_l.gif") no-repeat scroll 0 0 transparent;
	z-index: 100;
	position: relative;
}

.bpnDisabled {
	visibility: hidden;
}

a.bpnDisabled {
    visibility: visible;
    cursor: default;
    color: #ccc !important;
}

#bpnContinueDiv, #bpnContinueDiv iframe {
	z-index:2147483646;
	width:464px;
	height: 28px;
}

#bpnContinueDiv iframe {
	position: relative;
}

#bpnContinueDiv {
	position: fixed;
	//position: absolute; 
	left:0px;
	bottom:0px;
	top: expression(Capacent.ViewPort.getSize().h +((e=document.documentElement.scrollTop)?e:document.body.scrollTop) - 28 +'px'); 	
	-top: expression(Capacent.ViewPort.getSize().h +((e=document.documentElement.scrollTop)?e:document.body.scrollTop)  +'px'); 	
}

#urpContinueFrame {
	background-color:White;
	overflow:hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

html.continueFrameHtml {
	overflow:hidden;
	display:block;
	padding:0;
	margin:0;
}

body.continueFrameBody {
	overflow:hidden;
	display:block;
	padding:0;
	margin:0;
}

a#bpnContnue {		
	text-align:center;	
	color:#fff;
	background-repeat:no-repeat;
	background-color:#00aeeb;
	text-align: center;	
	z-index: 101;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	text-decoration: none;
	overflow:hidden;
	display:block;	
	height: 26px;	
	border:solid 1px #00aeeb;
	cursor:pointer;
}

a#bpnContnue span {
	display:block;
	margin-top:4px;
	overflow:hidden;
	cursor:pointer;
}


.urpPopupContent .urpBtn {
	margin-left: 7px;
	margin-right: 17px;
	float: left;
}

.urpBtn a {
	height: 22px;
	border: solid 1px #00aeeb;
	background-color: #FFF;
	float: left;
	text-align: center;
	padding: 3px 20px 0 20px;
	color: #4BACE8;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-hover-bg-color: #00aeeb;
	-normal-bg-color: #fff;
	z-index: 101;
	position: relative;
}

body .urpDefault a:hover {
	background-color: #fff;
	color: #00aeeb;	
}

body .urpDefault a {
	background-color: #00aeeb;
	color: #fff;	
	-hover-bg-color: #fff;
	-normal-bg-color: #00aeeb;
}

.urpBtn a:hover {
	background-color: #00aeeb;
	color: #fff;
}

a#bpnContnue:hover {
	color: #00aeeb;
	background-color: #fff;
}

/* Preload images */
div.urpPreload {
	background-image: url(bg_wide.png);
	_background-image: url(bg_wide.gif);
}