
body
{
    text-align: left;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #323232 url("../img/bg_page.gif") top repeat-x;
    padding: 0;
    color: #ffffff;
}

img
{
    border: 0px;
}

.clear
{
    clear: both;
    height: 0;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ul
{
    margin: 0;
    padding: 0;
}

form
{
    margin: 0;
    padding: 0;
}

.left
{
    float: left !important;
}
/* Set float left */

.right
{
    float: right !important;
}
/* Set float right */

a
{
    text-decoration: none;
    color: #17C1F3;
}

a:hover
{
    text-decoration: underline;
}

.small
{
    font-size: 11px;
}



h1
{
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
    color: #17C1F3;
}


.textarea
{
    background: #3E3E3E url("../img/bg_input01.gif") repeat-x;
    width: 102px;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    color: #CFCFCF;
    float: left;
    margin: 0 0 10px 0;
}

.txt01
{
    color: #17C1F3;
}

.txt02
{
    color: #A9A9A9;
}

.txt03
{
    color: #FF0000;
}



.pd5
{
    padding: 5px !important;
}

.pdR3
{
    padding-right: 3px !important;
}

.pdT10
{
    padding-top: 10px !important;
}

.pdB35
{
    padding-bottom: 35px !important;
}

.pdB10
{
    padding-bottom: 10px !important;
}

.pdL90
{
    padding-left: 90px !important;
}

.pdL120
{
    padding-left: 120px !important;
}

.mrB18
{
    margin-bottom: 18px !important;
}

.mrR10
{
    margin-right: 10px !important;
}



.input20
{
    width: 20px !important;
}

.input30
{
    width: 30px !important;
}

.input90
{
    width: 90px !important;
}

.input225
{
    width: 225px !important;
    overflow: auto;
}



.bgtheme
{
}

#container
{
    width: 820px;
    margin: 0 auto;
}

.brimg01
{
    border: 1px solid #1D1D1D !important;
}

.bgimg01
{
    background: url("../img/bg_box03.gif") no-repeat;
    width: 120px;
    height: 172px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    overflow: hidden;
    text-align: center;
}

.bgimg02
{
    background: url("../img/bg_box04.gif") no-repeat;
    width: 120px;
    height: 174px;
    margin: 0 auto;
    padding: 6px 0 0 0;
    overflow: hidden;
    text-align: center;
}



.btn01
{
    background: url("../img/bg_input02.gif") repeat-x;
    border: none;
    font-weight: bold;
    font-size: 12px !important;
}



.er
{
    background: #202020 url("../img/bg_header.jpg") top repeat-x;
    height: 1%;
}

.header .logo
{
    float: left;
    width: 274px;
    padding: 16px 64px 16px 8px;
}

.header .topadv
{
    width: 468px;
    float: left;
    padding: 12px 0 12px 0;
}

.bgtopmenu
{
    background: url("../img/bg_topmenu.jpg") top no-repeat;
    padding: 5px 0 9px 3px;
    height: 1%;
}

.topmenu li
{
    padding: 0;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0 7px 0 7px;
}

.topmenu li a
{
    padding: 0 0 0 14px;
    outline: none;
    line-height: 25px;
    display: block;
    color: #ffffff;
}

.topmenu li a span
{
    padding: 0 14px 0 0;
    display: block;
}

.topmenu li a:hover
{
    color: #ffffff;
    text-decoration: none;
    background: url("../img/select_tab01.gif") no-repeat;
}

.topmenu li a:hover span
{
    background: url("../img/select_tab02.gif") top right no-repeat;
}

.topmenu .navselect span
{
    background: url("../img/select_tab02.gif") top right no-repeat;
}

.topmenu .navselect
{
    background: url("../img/select_tab01.gif") no-repeat;
}

.topmenu .navselect a
{
    color: #ffffff;
}

.topmenu .lastitem
{
    background: none;
}

.topsubmenu
{
    padding: 5px 15px 0 15px;
}

.topsubmenu li
{
    list-style: none;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
}

.topsubmenu span
{
    padding: 0 15px;
}

.topsubmenu span.inactive
{
    padding: 0;
    color: #CFCFCF;
}

.topsubmenu a
{
    color: #ffffff;
}

.topsubmenu .navselect a
{
    color: #17C1F3;
}

.contain
{
    background: #313232 url("../img/bg_body.gif") top repeat-x;
    height: 1%;
    padding: 10px 5px;
}

.col01
{
    width: 594px;
    padding: 0 18px 0 0;
    float: left;
}

.col02
{
    width: 198px;
    float: left;
}

.block01
{
    background: url("../img/bg_box01.jpg") no-repeat;
    height: 346px;
    overflow: hidden;
    padding: 4px 4px 0 4px;
}

.block02
{
    background: url("../img/bg_box02.jpg") no-repeat;
    height: 230px;
    padding: 18px 0 0 0;
}

.block03
{
    background: url("../img/bg_box04.jpg") no-repeat;
    font-size: 11px;
    padding: 10px 7px 24px 7px;
}

.block03 label
{
    float: left;
    width: 75px;
    margin: 3px 0 0 0;
    color: #CFCFCF;
}

.block03 .input
{
    background: #3E3E3E url("../img/bg_input01.gif") repeat-x;
    width: 102px;
    height: 16px;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    color: #CFCFCF;
    float: left;
    margin: 0 0 10px 0;
}

.block03 div
{
    padding: 0 3px 5px 0;
    text-align: right;
}

.block03 span
{
    padding: 0 5px;
    color: #17C1F3;
}

.block04
{
    background: #030303 url("../img/cont_box06.jpg") bottom no-repeat;
    padding: 5px 0 200px 0;
}

.block04 a
{
    color: #17C1F3 !important;
}

.block04 a:hover
{
    color: #ffffff !important;
}

.block05
{
    background: #030303 url("../img/cont_box06b.jpg") bottom no-repeat;
    padding: 0 0 200px 0;
}

.block05 a
{
    color: #17C1F3 !important;
}

.block05 a:hover
{
    color: #ffffff !important;
}

.block06
{
    background: #0B0B0A;
    padding: 0 0 5px 0;
    height: 1%;
}

.block06 a
{
    color: #17C1F3 !important;
}

.block06 a:hover
{
    color: #ffffff !important;
}

.block06 .trailer
{
    background: url("../img/bg_trailer1.jpg") no-repeat;
    height: 366px;
}

.player
{
    width: 370px;
    margin: 0 auto;
    background: #ffffff;
}

.block06 td
{
    padding: 5px;
}

.block06 h1
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #17C1F3;
}

.block06 .continfo06
{
    padding: 0 10px;
}

.block06 .desc06
{
    background: #101010;
    padding: 10px !important;
}
.desc06 img
{
    width: 500px !important;
    text-align: center;
}

.block07
{
    background: #0D0D0D url("../img/cont_box08.jpg") top repeat-x;
    padding: 5px 10px 5px 10px;
    height: 1%;
}

.block09
{
    background: #030303 url("../img/cont_box09.jpg"/) top repeat-x;
    padding: 5px 10px 5px 10px;
    height: 1%;
    position: relative;
}

.block09 .blctime
{
    background: #140303;
    width: 60px;
    padding: 1px;
    float: left;
    margin: 0 8px 3px 0;
}

.block09 table
{
    margin-bottom: 10px;
}

.block09 .btnpost
{
    position: absolute;
    left: 500px;
    top: -22px;
    width: 85px;
}

.block10
{
    background: #030303 url("../img/cont_box10.jpg") bottom repeat-x;
    padding: 5px 10px 125px 10px;
    height: 1%;
}

.block10 td
{
    padding: 2px 0;
}

.cont01
{
    padding: 10px 0 0 1px;
}

.cont01 li
{
    float: left;
    list-style: none;
    display: block;
    padding: 0 22px 0 0;
}

.cont01 li.lastitem
{
    padding: 0;
}

.cont02
{
    padding: 0 0 15px 0;
}

.cont03 .continfo03
{
    background: #000000 url("../img/cont_box05.jpg") top no-repeat;
    padding: 5px 10px 10px 10px;
    height: 1%;
}

.cont03 h2
{
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px 0;
}

.cont03 table
{
    margin: 0 0 10px 0;
}

.cont03 td
{
    font-size: 11px;
    padding: 2px 0 5px 0;
}

.cont03 td input
{
    height: 13px;
    width: 13px;
    margin: 1px 8px 0 0;
    vertical-align: middle;
}

.cont03 a
{
    color: #17C1F3;
}

.cont03 span
{
    padding: 0 0 0 10px;
    font-weight: bold;
}

.cont04
{
    font-size: 11px;
}

.cont04 .img
{
    float: left;
    border: 2px solid #1C1C1C;
    width: 48px;
    height: 48px;
}

.cont04 .continfo04
{
    float: left;
    margin: 0 0 0 20px;
    position: relative;
    border: 1px solid #000000;
    width: 490px;
    background: #050505;
    padding: 4px 5px;
}

.continfo04 .arrow04
{
    position: absolute;
    left: -8px;
    top: 8px;
    width: 4px;
    height: 18px;
}

.cont04 p
{
    margin: 0;
    padding: 0 0 2px 0;
}

.cont05
{
    width: 391px;
    float: left;
}

.cont05 p
{
    float: left;
    width: 200px;
    margin: 0;
    padding: 0 0 5px 10px;
}

.cont06
{
    background: url("../img/bg_box05.jpg") no-repeat;
    width: 163px;
    float: left;
    padding: 10px;
}

.cont06 li
{
    list-style: none;
    display: block;
    padding: 0 0 5px 0;
    font-size: 11px;
}

.cont07
{
    padding: 5px;
    border-bottom: 1px solid #060607;
}

.cont07 h2
{
    margin: 0;
    padding: 0 0 5px 0 !important;
    font-size: 12px;
}

.cont07 p
{
    margin: 0;
    padding: 0;
}

.cont08
{
    padding: 5px;
}

.cont08 label
{
    float: left !important;
    width: 120px;
    margin: 3px 0 0 0;
}

.cont08 .input
{
    width: 350px;
    float: left;
    margin: 0 0 10px 0;
    border: 1px solid #313232;
    overflow: auto;
}

.cont08 .btn
{
    padding: 0 0 0 120px;
}

.cont09
{
    width: 120px;
    float: left;
    padding: 0 11px 10px 11px;
}
.cont09 h2
{
    margin: 0;
    padding: 0 0 2px 0;
    font-size: 12px;
}
.cont09 img
{
    width: 108px;
    height: 162px;
}



.frmcontact
{
    padding: 20px 0 0 0 !important;
}

.frmcontact label
{
    float: left;
    width: 125px;
    margin: 3px 0 0 0;
    color: #CFCFCF;
}

.frmcontact .input
{
    background: #3E3E3E url("../img/bg_input01.gif") repeat-x;
    width: 300px;
    height: 16px;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    color: #CFCFCF;
    float: left;
    margin: 0 0 10px 0;
}

.frmcontact .textarea
{
    background: #3E3E3E url("../img/bg_input01.gif") repeat-x;
    width: 300px;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    color: #CFCFCF;
    float: left;
    margin: 0 0 10px 0;
}

.frmcontact .btn
{
    padding: 0 0 0 125px;
}



.input01
{
    background: #3E3E3E url("../img/bg_input01-1.gif") repeat-x;
    width: 200px;
    height: 16px;
    border: 1px solid #4F4F4F;
    font-size: 11px;
    color: #CFCFCF;
    float: left;
    margin: 0 0 10px 0;
}



.paging
{
    padding: 10px 0 0 0;
    margin: 0;
    float: right;
}

.paging li
{
    padding: 0;
    float: left;
    border: 1px solid #0F0F0F;
    list-style-type: none;
    margin-right: 2px;
}

.paging li a
{
    padding: 0;
    margin: 0;
    float: left;
    width: 14px;
    line-height: 14px;
    list-style-type: none;
    color: #fffff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.paging li a:hover
{
    color: #ffffff;
    background: #17C1F3;
    text-decoration: none;
}

.pagingselect
{
    background: #0F0F0F;
    color: #ffffff;
    width: 14px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
}

.firsitem
{
    border: none !important;
}



.lstsmile
{
    float: right;
    width: 80px;
    padding: 0 0 0 10px;
}

.lstsmile li
{
    display: block;
    list-style: none;
    padding: 5px;
    float: left;
}



#TB_ajaxContent label
{
    float: left !important;
    width: 120px;
    margin: 3px 0 0 0;
}

#TB_ajaxContent .input
{
    width: 200px;
    float: left;
    margin: 0 0 10px 0;
    border: 1px solid #313232;
}

#TB_ajaxContent table
{
    margin-bottom: 10px;
}

#TB_ajaxContent td .dtinput
{
    margin: 0 5px !important;
}

.alert
{
    padding: 2px 0 2px 120px;
    color: #FF0000;
    font-size: 11px;
    display: none;
}



.footer
{
    background: url("../img/bg_footer.jpg") no-repeat;
    font-size: 11px;
    padding: 10px 15px 25px 15px;
}

.footer li
{
    list-style: none;
    display: block;
    padding: 3px 0;
    color: #17C1F3;
    float: left;
}

.footer a
{
    font-weight: bold;
}

.footer span
{
    padding: 0 10px;
}

.footer .copyright
{
    color: #E1E1E1;
}

.contType26
{
}

.contType26 ul
{
    padding: 0 0 0 2px;
}

.contType26 li
{
    display: block;
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0 9px 10px 9px;
}

.contType26 p
{
    margin: 0;
    padding: 2px 0 0 0;
}
